<div class="container">
    <div class="jumbotron">
        <h1>This is embarrasing!</h1>
        <p>Sometimes is hard to avoid Murphy's Law but we will do it for sure, 
            our developers are working to fix this problem.
            Thank you for your cooperation.
        </p>
        <p><a class="btn btn-primary btn-lg" href="/" role="button">Go Home</a></p>
    </div>
</div>